[submodule "sdsl-lite"]
	path = sdsl-lite
	url = https://github.com/iosfwd/sdsl-lite/
[submodule "googletest"]
	path = googletest
	url = https://github.com/iosfwd/googletest
[submodule "KMC"]
	path = KMC
	url = https://github.com/iosfwd/KMC
[submodule "SeqIO"]
	path = SeqIO
	url = https://github.com/jnalanko/SeqIO
